body {
	text-align: center;
}

table {
	margin-left: auto;
	margin-right: auto;
	border: none;
}

td {
	display: flex;
	align-items: center;
	justify-content: center;
}

td.name {
	font-size: 35px;
	font-weight: bold;
	padding: 12px;
}

button {
	background-color: black;
	color: white;
	font-size: 17px;
	width: 300px;
	padding: 0;
	border: none;
	padding: 5px;
}

td.level {
	color: #858782;
	font-size: 22px;
	padding: 8px;
}

td.social {
	padding: 17px:
}

td.school {
	padding: 17px;
	font-weight: bold;

}

table.bord {
	box-shadow: 5px 5px 5px 5px #dbd9d3;
}

